<!doctype html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Patchy</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/css/index.css">
        <script type="text/javascript" src="/js/jquery.min.js"></script>
        <script type="text/javascript" src="/js/jquery.jplayer.min.js"></script>
        <script type="text/javascript" src="/js/patchy.js"></script>
    </head>
    <body>
        <div class="content">
            <div class="info">
                <h1>Tenshi</h1>
                <p>An online jukebox by SirCmpwn &amp; minus.</p>
                <dl class="dl-horizontal">
                    <dt>Github</dt>
                    <dd><a href="https://github.com/Luminarys/patchy">Luminarys/patchy</a></dd>
                    <dt>IRC</dt>
                    <dd><a href="http://qchat.rizon.net/?channels=stew&uio=d4">#stew@rizon</a></dd>
                </dl>
                <h3>Upload</h3>
                <p>If you have permissions:</p>
                <pre>rsync -rP \
    your/local/music/ \
    tenshi.sr.ht:/var/music/</pre>
                <p>otherwise:</p>
                <form class="form">
                    <input type="file" id="upload-file" class="hidden" />
                    <div class="drop-target">Drag and drop</div>
                </form>
                <p class="text-center" style="margin-top: 10px;"><a href="#">or click here</a></p>
            </div>
            <div class="search">
                <h1>Request Tunes</h1>
                <input class="form-control" placeholder="Search" />
                <div class="search-results">
                    <!--
                    <div class="result"></div><div class="result"></div>
                    <div class="result"></div><div class="result"></div>
                    <div class="result"></div><div class="result"></div>
                    <div class="result"></div><div class="result"></div-->
                </div>
            </div>
            <div class="queue">
                <div class="padded">
                    <h3>Now playing <small>for 12 listeners</small></h3>
                    <div class="now-playing">
                        <img id="npArt" src="image/album.png" alt="Album art" />
                        <div>
                            <p><strong id="npSong">ゆるやかに</strong></p>
                            <p>by <strong id="npArtist">Kikuo</strong></p>
                            <p>from <strong id="npAlbum">きくおミク4</strong></p>
                            <div class="timestamp">
                                <p><strong id="curTime">1:23</strong> of <span id="songTime">2:48</span></p>
                                <div class="progress">
                                    <div id="songProgress" class="progress-bar" style="width: 50%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3>Coming up</h3>
                </div>
                <div class="items">
                    <div class="item">
                        <h4><strong>Marble Soda</strong></h4>
                        <p>by <strong>Shawn Wasabi</strong></p>
                    </div>
                    <div class="item">
                        <h4><strong>Cosmic Ballad</strong></h4>
                        <p>by <strong>Mitchie M</strong></p>
                    </div>
                    <div class="item">
                        <h4><strong>MAWARU</strong></h4>
                        <p>by <strong>Kikuo</strong></p>
                    </div>
                    <div class="item">
                        <h4><strong>Myosotis</strong></h4>
                        <p>by <strong>M2Ustudio</strong></p>
                    </div>
                    <div class="item">
                        <h4><strong>licca</strong></h4>
                        <p>by <strong>Qrispy Jooybox</strong></p>
                    </div>
                    <div class="item">
                        <h4><strong>Avalance</strong></h4>
                        <p>by <strong>ParkMemme</strong></p>
                    </div>
                    <div class="item">
                        <h4><strong>Venus</strong></h4>
                        <p>by <strong>Maxo &amp; Harrison</strong></p>
                    </div>
                    <div class="item">
                        <h4><strong>Character Select</strong></h4>
                        <p>by <strong>Maxo</strong></p>
                    </div>
                    <div class="item">
                        <h4><strong>Everyone's Platinum Disco</strong></h4>
                        <p>by <strong>BEEEEEES</strong></p>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <div id="player-1" class="jp-jplayer"></div>
        <div id="player-2" class="jp-jplayer"></div>
    </body>
</html>
