html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #211D26;
    color: #736B7B;
}

.btn {
    border-radius: 0;
}

.content {
    height: 100%;
    background: url("/image/patchy.png") bottom left no-repeat;
    background-size: 300px;
    display: flex;

    .info {
        flex-grow: 0;
        width: 265px;
        padding: 0 20px 0 20px;

        dt {
            width: 100px;
        }

        dd {
            margin-left: 110px;
        }
    }

    .search {
        flex-grow: 1;
        padding: 0 20px 0 20px;

        .form-control {
            border-radius: 0;
            max-width: 40%;
            background: none;
            border-color: #736B7B;
            display: inline;
        }

        .search-results {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: flex-start;
        }
    }

    .queue {
        box-shadow: 0 0 3px 3px #111;

        max-height: 100%;
        overflow-y: hidden;
        min-width: 300px;
        background: #37333B;
        flex-grow: 0;

        h3 {
            small {
                font-size: 10pt;
                color: #504A56;
            }
        }

        .padded {
            padding: 0 20px 0 20px;
        }
    }

    .items {
        .item {
            background: #423b47;
            padding: 5px 20px;

            &:nth-child(even) {
                background: #37333B;
            }
        }
    }
}

.result {
    margin: 15px;
    padding: 5px;
    height: 110px;
    width: 250px;
    display: flex;

    img {
        padding-right: 10px;
        width: 100px;
        height: 100px;
        flex-grow: 0;
    }

    & > div {
        flex-grow: 1;

        p {
            margin: 0;
            padding: 0;
        }
    }

    button {
        margin-top: 9px;
        background-color: #3a2499;
        border: none;
    }
}

.now-playing {
    min-height: 100px;
    margin-bottom: 10px;
    display: flex;

    img {
        padding-right: 10px;
        width: 100px;
        height: 100px;
        flex-grow: 0;
    }

    & > div {
        flex-grow: 1;

        p {
            margin: 0;
            padding: 0;
        }

        .progress {
            margin-bottom: 0;
            border-radius: 0;
            background-color: #555158;

            .progress-bar {
                background-color: #7A757E;
            }
        }
    }
}

pre {
    background: #423B47;
    color: #fff;
}

.drop-target {
    border-radius: 5px;
    border: 3px dashed #fff;
    padding: 40px;
    text-align: center;
}

#slider{
    display: flex;
    flex-grow: 0;
    border-width: 1px;
    border-style: solid;
    border-color: #333 #333 #777 #333;
    border-radius: 25px;
    width: 160px;
    height: 13px;
    background-color: #8e8d8d;
    //background: url('../image/bg-track.png') repeat top left;
    box-shadow: inset 0 1px 5px 0px rgba(0, 0, 0, .5), 
                 0 1px 0 0px rgba(250, 250, 250, .5);
    left: 20px;
}

.volume {
    display: inline-block;
    width: 25px;
    height: 25px;
    right: -5px;
    background: url('/image/volume.png') no-repeat 0 -50px;
    position: absolute;
    margin-top: -18px;
    margin-right: 80px;
}

.ui-slider-handle {
    position: relative;
    z-index: 2;
    width: 25px;
    height: 25px;
    cursor: pointer;
    background: url('../image/handle.png') no-repeat 50% 50%;
    font-weight: bold;
    color: #1C94C4;
    outline: none;
    top: -6px;
    margin-left: -12px;
}

.ui-slider-range {
    background: linear-gradient(top, #ffffff 0%,#eaeaea 100%);
    position: relative;
    border: 0;
    top: 0;
    height: 100%;
    border-radius: 25px;
}
